@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
// font-family: "Quicksand", sans-serif;

.main-accordion--header {
  margin-top: 56px;
  font-family: "Quicksand", sans-serif;
  fieldset {
    font-family: "Quicksand", sans-serif;
    border: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .radio-inline__input {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
  }

  .radio-inline__label {
    cursor: pointer;
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-right: 5px;
    margin-top: 5px;
    padding: 3px 5px;
    border-radius: 3px;
    background-color: #eae7ff;
    transition: all 0.2s;
    &:hover {
      background-color: #8781af;
    }
  }

  .radio-inline__input:checked + .radio-inline__label {
    background: #7267b7;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
  }

  .radio-inline__input:focus + .radio-inline__label {
    outline-color: #483d8b;
    outline-offset: 2px;
    outline-style: auto;
    outline-width: 5px;
  }

  .accordion-header {
    button.accordion-button {
      border: 1px soled #4c39cb;
      background-color: #8a8aaa9f;
      color: #000;
      font-weight: 400;
      padding: 11px 81px;
      &.collapsed {
        background-color: #cecece9c;
        color: #000;
      }
    }
  }
  .accordion-collapse {
    z-index: 0;
    background-color: #f8f8f831;
  }
}
